services:
  
  broker:
    image: docker.io/library/redis:8.4
    restart: unless-stopped
    volumes:
      - redis:/data
    networks:
      - backend

  db:
    image: docker.io/library/mariadb:12.1
    restart: unless-stopped
    volumes:
      - db:/var/lib/mysql
    networks:
      - backend
    environment:
      MARIADB_HOST: paperless
      MARIADB_DATABASE: paperless
      MARIADB_USER: paperless
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}

  app:
    image: ghcr.io/paperless-ngx/paperless-ngx:2.20
    restart: unless-stopped
    depends_on:
      - db
      - broker
      - gotenberg
      - tika
    networks:
      - frontend
      - backend
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - data:/usr/src/paperless/data
      - media:/usr/src/paperless/media
      - /repos/docker-paperless/export:/usr/src/paperless/export
      - /repos/docker-paperless/consume:/usr/src/paperless/consume
      - nextcloud_nextcloud:/nextcloud
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBENGINE: mariadb
      PAPERLESS_DBHOST: db
      PAPERLESS_DBUSER: paperless
      PAPERLESS_DBPORT: 3306
      PAPERLESS_TIKA_ENABLED: 1
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://gotenberg:3000
      PAPERLESS_TIKA_ENDPOINT: http://tika:9998
      VIRTUAL_HOST: ${VIRTUAL_HOST}
      VIRTUAL_PORT: 8000
      PAPERLESS_DBPASS: ${PAPERLESS_DBPASS}
      LETSENCRYPT_HOST: ${LETSENCRYPT_HOST}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL}
      PAPERLESS_CONSUMPTION_DIR: ${PAPERLESS_CONSUMPTION_DIR}
      USERMAP_UID: 33
      USERMAP_GID: 33
      PAPERLESS_URL: ${PAPERLESS_URL}
      PAPERLESS_SECRET_KEY: ${PAPERLESS_SECRET_KEY}
      PAPERLESS_TIME_ZONE: ${PAPERLESS_TIME_ZONE}
      PAPERLESS_OCR_LANGUAGE: deu

  gotenberg:
    image: docker.io/gotenberg/gotenberg:8.26
    restart: unless-stopped
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"
    networks:
      - backend

  tika:
    image: docker.io/apache/tika:3.2.3.0
    restart: unless-stopped
    networks:
      - backend

volumes:
  data:
  media:
  db:
  redis:
  nextcloud_nextcloud:
    external: true

networks:
  frontend:
    name: proxy_frontend
    external: true
  backend:
